/** 
 * Globals 
 */

:root {
  /* Brand colors */

  --accent-color: #b54;

  /* Reset colors */

  --page-background-color: #fbf8f3;
  --page-foreground-color: #9f846b;
  --page-link-color: var(--accent-color);
  --page-visited-link-color: var(--accent-color);

  --index-even-item-bg-color: #fbf8f3;
  --index-odd-item-bg-color: #f2efe9;
  --memdecl-background-color: #ece7de;
  --memdecl-separator-color: #fff;
}

body {
  margin: 0;
}

body, table, div, p, dl {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/** 
 * Header 
 */

#projectname {
	color: var(--accent-color);
  font-size: 24px;
	font-weight: bold;
}

#projectbrief {
  font-size: 0.9em;
}

#projectnumber {
  font-size: 0.5em;
}
