# project output files
build/*
!build/.gitkeep

bin/*
!bin/.gitkeep

lib/web/node_modules

# osx noise
.DS_Store
profile

# xcode noise
*.pbxuser
*.pbxproj
*.plist
*.mode1v3
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate

#doxygen, moxygen
docs/generated/html/*
docs/generated/xml/*
docs/doxygen.log

# note‑taking app settings
.obsidian
