# project output files
build/*

bin/*
!bin/libmodule_core.*.js
!bin/libmodule_core.*.wasm
!bin/exports.json
!bin/runtime_exports.json

!bin/media/
bin/media/*
!bin/media/core.cfg

# tests
tsapi/node_modules

# osx noise
.DS_Store
profile

# xcode noise
*.pbxuser
*.pbxproj
*.plist
*.mode1v3
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
